body {
	background-color: rgb(235, 235, 245);
}

h1 {
	display: inline-block;
	padding: 3px 5px;
}

#addEntry {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 20, 20, 0.3);
	z-index: 100;
	display: none;
}

#entryForm {
	margin: 20px auto;
	width: 300px;
	background-color: #efefef;
	border: 2px solid rgb(10, 25, 35);
	border-radius: 2px;
	padding: 4px;
}

#map {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30vw;
	height: 40vh;

	border: 0 solid rgb(10, 25, 35);
	border-top-width: 3px;
	border-left-width: 3px;
	border-radius: 3px;
}

.person {
	cursor: pointer;
	padding: 5px;
}

.phone {
	font-style: italic;
}

.name {
	font-weight: bold;
}

#people > span > div:nth-child(even) {
	background-color: #efefef;
}

#people > span > div:hover {
	background-color: rgb(10, 25, 35);
	color: #efefef;
}

#people {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 450px;
	min-width: 120px;
	width: 50%;
	margin: 0 auto;
	border: 2px solid rgb(10, 25, 35);
	border-radius: 2px;
	background-color: #fff;
}
