body {
	background-color: rgb(235, 235, 245);
}

.person {
	cursor: pointer;
	padding: 5px;
}

.phone {
	font-style: italic;
}

.name {
	font-weight: bold;
}

#people > span > div:nth-child(even) {
	background-color: #efefef;
}

#people > span > div:hover {
	background-color: rgb(10, 25, 35);
	color: #efefef;
}

#people {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 450px;
	min-width: 120px;
	width: 50%;
	margin: 0 auto;
	border: 2px solid rgb(10, 25, 35);
	border-radius: 2px;
	background-color: #fff;
}
